{{ $path := .Get 0 }}
{{ $file := resources.Get $path }}
{{ $data := $file | transform.Unmarshal }}

{{ if gt (len $data) 0 }}
  {{ $headers := slice }}
  {{ range $k, $v := index $data 0 }}
    {{ $headers = $headers | append $k }}
  {{ end }}

  <div class="csv-table-wrapper">
    <table id="datatable" class="csv-table">
      <thead>
        <tr>
          {{ range $headers }}
            <th>{{ . }}</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range $row := $data }}
          <tr>
            {{ range $h := $headers }}
              <td>{{ index $row $h }}</td>
            {{ end }}
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ else }}
  <p>No data found or empty CSV file: <code>{{ $path }}</code></p>
{{ end }}
